@layer components {
  .article {
    &__container-featured {
      padding: convertToRem(32);
      color: map-get($theme-colors, "light");
      text-shadow: convertToRem(2) convertToRem(2) convertToRem(4)
        rgb(0 0 0 / 0.7);
      background-image: linear-gradient(rgb(0 0 0 / 0.9), rgb(0 0 0 / 0.5)),
        url("/src/assets/images/laptop_article.jpg");
      background-position: center;
      background-size: cover;
    }

    &__title {
      padding-bottom: convertToRem(8);
      margin-bottom: convertToRem(20);
      border-bottom: convertToRem(2) solid map-get($theme-colors, "tertiary");
    }

    &__container-half {
      display: flex;
      flex-direction: column;
      gap: convertToRem(16);
      padding: convertToRem(16);
      color: map-get($theme-colors, "dark");
      background-color: map-get($theme-colors, "light");

      @include media-breakpoint-up(md) {
        flex-direction: row;
      }
    }

    &__paragraph {
      flex: 1;
      line-height: convertToRem(24);
    }

    &__quote {
      flex: 1;
      padding: convertToRem(16);
      background-color: map-get($theme-colors, "light-dark");
      border-left: convertToRem(4) solid map-get($theme-colors, "primary");

      &-source {
        display: block;
        margin-top: convertToRem(8);
        font-size: convertToRem(14);
        font-weight: bold;
        color: map-get($theme-colors, "tertiary-dark");
      }
    }

    &__container-list {
      padding: convertToRem(16);
    }

    &__list {
      padding-left: 0;
      list-style: none;

      &-item {
        display: flex;
        margin-bottom: convertToRem(16);
      }

      &-number {
        display: flex;
        align-items: center;
        justify-content: center;
        width: convertToRem(32);
        height: convertToRem(32);
        margin-left: convertToRem(8);
        font-weight: bold;
        color: map-get($theme-colors, "primary");
        border: convertToRem(2) solid map-get($theme-colors, "primary");
        border-radius: 30%;
      }

      &-copy {
        display: flex;
        flex-direction: column;
        margin-left: convertToRem(8);

        strong {
          margin-bottom: convertToRem(8);
        }

        p {
          font-size: convertToRem(14);
          line-height: convertToRem(24);
          color: map-get($theme-colors, "dark");
        }
      }

      &-item:is(:first-child, :last-child) {
        padding: convertToRem(8) 0;
        background-color: map-get($theme-colors, "light");
        border-radius: $border-radius;
      }
    }

    &__container-card {
      padding: convertToRem(16);

      .card {
        box-shadow: 0 convertToRem(4) convertToRem(6) rgb(0 0 0 / 0.1);
      }

      &:has(.card-body) {
        line-height: convertToRem(32);
      }
      .card-image {
        container-type: inline-size;
        @container (max-width: 458px) {
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: $border-radius;
          }
        }
      }
    }
  }
}
