@layer components {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: convertToRem(16);
    margin-top: auto;
    text-align: center;
    border-top: 1px solid map-get($theme-colors, "tertiary");
    background-color: rgba(
      $color: map-get($theme-colors, "tertiary"),
      $alpha: 0.1
    );

    &__info {
      margin-bottom: convertToRem(16);
      margin-top: convertToRem(8);
    }

    &__contact {
      font-size: convertToRem(16);
      line-height: convertToRem(35);

      p {
        margin: 0;
      }
    }

    &__logo {
      font-size: convertToRem(18);
      font-weight: bold;
    }

    &__menu {
      display: flex;
      flex-direction: column;
      gap: convertToRem(8);
      list-style: none;
      padding: 0;
      margin: 0;
      padding-left: 0;
    }

    @include media-breakpoint-up(md) {
      &__logo {
        align-self: flex-start;
      }

      &__nav {
        align-self: flex-end;
      }

      &__menu {
        flex-direction: row;
        gap: 1rem;
      }
    }

    &__social {
      display: flex;
      gap: convertToRem(8);
    }

    &__bottom {
      border-top-style: double;
      border-top-color: map-get($theme-colors, "tertiary-dark");
      padding-top: convertToRem(16);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: convertToRem(16);

      @include media-breakpoint-up(md) {
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }
    }
  }
}
