@layer components {
  .gallery {
    padding: 2rem;

    &__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &__title {
      align-self: flex-start;
    }

    &__carousel {
      width: min(100svw, 90lvw, 1000px);
      height: auto;
      margin-top: convertToRem(16);
      overflow: hidden;
      border-radius: $border-radius;

      &-item {
        position: relative;

        &-image {
          width: 100%;
          height: auto;
          object-fit: cover;
        }

        &-caption {
          padding: convertToRem(16);
          color: map-get($theme-colors, "light");
          background: linear-gradient(
            to bottom,
            rgb(0 0 0 / 0.5),
            rgb(0 0 0 / 0.8)
          );
          border-radius: $border-radius;
          container-type: inline-size;
          @supports (
            (background: color(display-p3 0.4 0.3 0.2 / 0.5)) and
              (background: hwb(150 10% 20% / 0.8))
          ) {
            background: linear-gradient(
              to bottom,
              color(display-p3 0.4 0.3 0.2 / 0.5),
              hwb(150 10% 20% / 0.8)
            );
          }

          &-title {
            margin-bottom: convertToRem(8);
            font-size: convertToRem(12);
            font-weight: bold;
          }

          &-text {
            margin-bottom: convertToRem(8);
            font-size: convertToRem(12);
          }

          @container (min-width: 200px) {
            &-title {
              font-size: convertToRem(18);
            }
            &-text {
              font-size: convertToRem(18);
            }
          }

          &-author {
            font-size: convertToRem(12);
            color: map-get($theme-colors, "secondary-light");
          }
        }
      }

      &-control {
        width: min(15%, max(5svw, 5%));
        filter: brightness(0) invert(1);
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
