@layer components {
  .header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    container-type: inline-size;
    color: map-get($theme-colors, "dark");
    &--home {
      background-color: map-get($theme-colors, "primary");
      color: map-get($theme-colors, "secondary");
      .link {
        color: map-get($theme-colors, "light");

        &:hover,
        &:focus {
          color: map-get($theme-colors, "secondary");
        }
      }
    }

    &__logo {
      text-align: center;
      align-self: center;
      font-size: 1.5rem;
      font-weight: bold;
    }

    &__nav {
      align-self: center;
    }

    &__menu {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    @include media-breakpoint-up(md) {
      flex-direction: row;
      justify-content: space-between;
      &__logo {
        text-align: left;
        align-self: flex-start;
      }

      &__nav {
        align-self: flex-end;
      }

      &__menu {
        flex-direction: row;
        gap: 2rem;
      }
    }
  }
}
