@layer components {
  .home {
    display: flex;
    flex-direction: column;

    &__hero {
      padding: convertToRem(16);
      color: map-get($theme-colors, "light");
      background-color: map-get($theme-colors, "primary");
      container-type: inline-size;

      &-grid {
        display: flex;
        flex-direction: column;
        gap: convertToRem(16);
        align-items: center;

        @supports (display: grid) {
          display: grid;
          grid-template-areas:
            "image"
            "content"
            "cta";
          grid-template-columns: 1fr;
          text-align: center;

          @include media-breakpoint-up(md) {
            grid-template-areas:
              "image content"
              "image cta";
            grid-template-columns: 2fr 1fr;
          }
        }
      }

      &-cta {
        display: flex;
        flex-direction: column;
        grid-area: cta;
        gap: convertToRem(8);
        justify-content: center;

        @include media-breakpoint-up(md) {
          flex-direction: row;
        }
      }

      &-content {
        grid-area: content;
        padding: convertToRem(16);
      }

      &-image {
        grid-area: image;

        .home__hero-img {
          width: 100%;
          height: auto;
          border-radius: convertToRem(8);
        }
      }

      &-caption {
        &-description {
          font-size: convertToRem(16);

          transform: translateY(-150%);
          @container (min-width: 576px) {
            transform: translateY(0);
          }
        }
      }
    }
  }
}
