<footer class="footer">
  <div class="footer__info">
    <address class="footer__contact">
      <p>Email: info@eventomadeinspain.com</p>
      <p>Teléfono: +34 912 587 100</p>
    </address>
  </div>
  <div class="footer__bottom">
    <div class="footer__logo">
      <a href="index.html" class="footer__logo-link link">
        Jornadas de Seguridad
      </a>
    </div>
    <nav class="footer__nav">
      <ul class="footer__menu">
        <li>
          <a href="index.html" class="footer__menu-item-link link">Inicio</a>
        </li>
        <li>
          <a href="article.html" class="footer__menu-item-link link">
            Noticias
          </a>
        </li>
        <li>
          <a href="gallery.html" class="footer__menu-item-link link">Galería</a>
        </li>
        <li>
          <a href="speakers.html" class="footer__menu-item-link link">
            Conferencistas
          </a>
        </li>
      </ul>
    </nav>
    <div class="footer__social">
      <a
        href="https://twitter.com"
        target="_blank"
        aria-label="Twitter"
        class="footer__social-link link">
        <i class="fa-brands fa-twitter"></i>
      </a>
      <a
        href="https://facebook.com"
        target="_blank"
        aria-label="Facebook"
        class="footer__social-link link">
        <i class="fa-brands fa-facebook">
      </a>
      <a
        href="https://linkedin.com"
        target="_blank"
        aria-label="LinkedIn"
        class="footer__social-link link">
        <i class="fa-brands fa-linkedin"></i>
      </a>
    </div>
  </div>
</footer>
