<!-- Footer -->
<footer class="footer">
  <div class="footer__column footer__column--left">
    <p class="footer__copyright">
      © LOGO
    </p>
  </div>
  <div class="footer__column footer__column--center">
    <p class="footer__paginas">Front page</p>
    <p class="footer__paginas">Speakers</p>
    <p class="footer__paginas">Article</p>
    <p class="footer__paginas">Gallery</p>
  </div>
  <div class="footer__column footer__column--right">
    <p class="footer__asignatura">Iconos</p>
  </div>
</footer>
