<header class="header header--home">
  <div class="header__logo">
    <a href="index.html" class="header__logo-link link">
      Jornadas de Seguridad
    </a>
  </div>
  <nav class="header__nav">
    <ul class="header__menu">
      <li class="header__menu-item">
        <a href="article.html" class="header__menu-item-link link">Noticias</a>
      </li>
      <li class="header__menu-item">
        <a href="gallery.html" class="header__menu-item-link link">Galería</a>
      </li>
      <li class="header__menu-item">
        <a href="speakers.html" class="header__menu-item-link link">
          Conferenciantes
        </a>
      </li>
    </ul>
  </nav>
</header>
