<header class="header">
  <div class="header__logo">
    <a href="index.html" class="header__logo-link">Jornadas de Seguridad</a>
  </div>
  <nav class="header__nav">
    <ul class="header__menu">
      <li>
        <a href="index.html" class="header__menu-item-link link">Inicio</a>
      </li>
      <li>
        <a href="article.html" class="header__menu-item-link link">Noticias</a>
      </li>
      <li>
        <a href="speakers.html" class="header__menu-item-link link">
          Conferencistas
        </a>
      </li>
    </ul>
  </nav>
</header>
