@use "sass:color";

$font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
  "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;

// Bootstrap theme colors
$theme-colors: (
  "primary": $indigo-400,
  "secondary": $indigo-100,
  "tertiary-super-dark": $teal-900,
  "tertiary-dark": $teal-800,
  "tertiary": $teal-600,
  "quaternary": $teal-100,
  "success": $teal-500,
  "danger": $red-600,
  "warning": $yellow-400,
  "info": $cyan-400,
  "light": $gray-100,
  "dark": $gray-600,
  "base": $gray-700,
);
// Override Bootstrap default breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px,
);

$enable-shadow: true;
$enable-transitions: true;
